.text-container {
    font-family: system-ui;
    font-size: 4vh;
    margin-bottom: 4vh;
    color: #240A0A;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container {
    border-radius: 5%;
    height: 54vh;
    width: 54vh;
    min-width: 500px;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FADD9E;
}

.image {
    max-width: 500px;
    max-height: 500px;
    height: 100%;
    width: 100%;
    border-radius: 5%;
}

.span-prob {
    display: flex;
    justify-content: left;
}