.text-container {
    font-family: system-ui;
    font-size: 4vh;
    margin-bottom: 4vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container {
    border-radius: 10%;
    height: 60vh;
    width: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    max-width: 250px;
    max-height: 250px;
    height: 100%;
    width: 100%;
}

.span-prob {
    display: flex;
    justify-content: left;
}